<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burzaco Market</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>

        <a href="../index.html" class="logo">
            <img src="../img/logo BM.jpeg" alt="Logo burzaco Market"></a>

        <nav>
            <ul>
                <li><a href="../views/productos.html" target="_blank">Productos</a> </li>
                <li><a href="../views/nosotros.html" target="_blank">Nosotros</a></li>
                <li><a href="../views/envios.html" target="_blank">Envios</a> </li>
                <li><a href="../views/contacto.html" target="_blank">Contacto</a> </li>
            </ul>
        </nav>
    </header>
    <form action="formulario" formulario></form>
    <h1>Contacto</h1>
    <main>
        <form-->
            <section>
                <fieldset>
                    <label for="Comentarios">Comentarios</label>
                    <br>
                    <textarea name="" id="Comentarios" cols="30" rows="10"></textarea>
                    <br>
                    <input type="reset" value="cancelar">
                    <input type="submit" value="enviar">
                </fieldset>
            </section>
        </form-->
    </main>

    <main>
        <section>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26199.98178438452!2d-58.41904571895196!3d-34.83114976886502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd49a149975bd%3A0xcc1f98519388f175!2sBurzaco%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1653628903336!5m2!1ses!2sar"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <footer>
        <ol>
            <h3>Nuestras Redes Sociales</h3>
            <a href="https://www.facebook.com/burzaco-market-103549792372742/" target="_blank">
                <img src="../img/iconos redes sociales/logo FB.png" alt="link a facebook"></a>

            <a href="https://www.instagram.com/burzaco_market?igshid=ymmymta2m2y=" target="_blank">
                <img src="../img/iconos redes sociales/logo insta.png" alt="lik a instagram"></a>

            <a href="https://www.twitter.com" target="_blank">
                <img src="../img/iconos redes sociales/logo twitter.png" alt="link a twitter"></a>

            <a href="https://mail.google.com/burzacomarket@gmail.com" target="_blank">
                <img src="../img/iconos redes sociales/logo wts.png" alt="email"></a>
        </ol>
    </footer>
</body>

</html>